---

---

<div style={{ fontFamily: "Roboto Mono, monospace" }}>
  <div class="flex gap-4">
    <p class="font-bold">#1</p>
    <p>A ①______④_ WITH A ______ ___③__ _____ PAST ⑤__ _②_____ IN A _⑥_____.</p>
  </div>
  <div class="flex gap-4">
    <p class="font-bold">#2</p>
    <p>A ______ ___③① ___② ⑤__④_⑦ _______ ___⑧__ NEXT TO __⑥___ _______.</p>
  </div>
  <div class="flex gap-4">
    <p class="font-bold">#3</p>
    <p>A _____ ____⑧ __④_①__② A _____⑤ ____ _③_⑦ BESIDE MY ___⑥____ _____.</p>
  </div>
  <div class="flex gap-4">
    <p class="font-bold">#4</p>
    <p>THE __⑧__①⑬__ _⑨_ ____④ B③ A __⑥_⑭ OF ___⑫__ _⑤___⑩__⑪ _⑦_ ___②.</p>
  </div>
</div>
