---
import ImageRotateHover from "@/components/ImageRotateHover.astro";
import CountdownTimer from "@/components/react/CountdownTimer";
import InfoDialog from "@/components/react/InfoDialog";
import cd from "@/assets/landing/cdspin-bw-slow.gif";
import game_box from "@/assets/landing/game-box.png";
import { HUNT_START_TIME } from "@/lib/utils";
---

<h>
  <section class="landing-art flex h-screen items-center justify-center p-10 text-[white]">
    <div class="space-y-1">
      <div class="disc-art relative pt-10">
        <ImageRotateHover
          src={cd.src}
          className="absolute bottom-[0px] left-[100px] z-[10] w-[20rem] select-none"
        />
        <!-- THIS IMAGE:  -->
        <img
          src={game_box.src}
          class="absolute bottom-[-120px] left-[-50px] z-[0] w-[20rem] select-none blur-[2px]"
        />
      </div>
      <CountdownTimer
        targetDate={HUNT_START_TIME}
        className="z-[100] w-[30rem] pt-20 text-center text-4xl blur-[2px] sm:text-6xl"
        endText="refresh the page!"
        client:visible
      />
    </div>
  </section>
  <div class="fixed bottom-10 left-1/2 -translate-x-1/2 transform font-mono">
    <InfoDrawer client:visible />
  </div>
</h>
