---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ModePicker from "@/components/react/ModePicker";
import { getCollection } from "astro:content";
import PuzzleIndex from "@/components/react/PuzzleIndex";

const puzzles = await getCollection("puzzle");
---

<BaseLayout title="">
  <ModePicker client:only="react" />
  <div class="mx-auto p-4 sm:max-w-5xl">
    <div class="flex flex-wrap gap-4 sm:flex-nowrap">
      <div class="basis-full sm:basis-1/2">
        <div class="h-48 bg-red-500">packet 1</div>
        <a href="/puzzles/packet1">test</a>
      </div>
      <div class="basis-full sm:basis-1/2">
        <div class="h-48 bg-green-500">packet 2</div>
        <a href="/puzzles/packet2">test</a>
      </div>
    </div>
  </div>
</BaseLayout>
