---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ModePicker from "@/components/react/ModePicker";
import PacketView from "@/components/react/PacketView";
---

<BaseLayout title="">
  <ModePicker client:only="react" />
  <div class="mx-auto p-4 sm:max-w-5xl">
    <PacketView client:only="react" />
  </div>
</BaseLayout>

<script is:inline>
  packet2_link = document.getElementById("packet2_link");
  packet2_img = document.getElementById("packet2_img");
  if (!localStorage.getItem("building_solution")) {
    packet2_link.href = "javascript: void(0)";
    packet2_img.href = "javascript: void(0)";
  }
</script>
