---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PuzzleIndexItem from "@/components/PuzzleIndexItem.astro";
import { getCollection } from "astro:content";

import type { CollectionEntry } from "astro:content";
const puzzles = await getCollection("puzzle");

---


  })


<BaseLayout title="" />
foobar
<ul id="puzzles">
  { puzzles.map((puzzle) => {
  <li>
    <PuzzleIndexItem props={puzzle} />
  </li>
  })}
</ul>
