---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ModePicker from "@/components/react/ModePicker";
import PuzzleIndex from "@/components/react/PuzzleIndex";
import { getCollection } from "astro:content";
import { PuzzlePacket } from "@/lib/types";

const puzzles = await getCollection("puzzle");
---

<BaseLayout title="">
  <h1 class="text-center text-5xl font-bold font-mono blur-[1px]">DISC 2</h1>
  <PuzzleIndex client:only="react" puzzles={puzzles} packet={PuzzlePacket.Two} />
</BaseLayout>
