---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PuzzleIndexItem from "@/components/react/PuzzleIndexItem";
import ModePicker from "@/components/react/ModePicker";
import { getCollection } from "astro:content";

const puzzles = await getCollection("packet2");
---

<BaseLayout title="">
  <ModePicker client:only="react" />
  <ul>
    {
      puzzles.map((puzzle: any) => {
        return (
          <li>
            <PuzzleIndexItem client:only="react" puzzle={puzzle} />
          </li>
        );
      })
    }
  </ul>
</BaseLayout>




