---
import AnswerSubmission from "@/components/AnswerSubmission";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="">
  <div class="h-[50vh] w-screen bg-green-100"></div>
  <AnswerSubmission answerHash="FFF" client:only />
</BaseLayout>
