---
import LandingSplash from "@/components/landing/LandingSplash.astro";
import "@/styles/globals.css";
import LandingLayout from "@/layouts/LandingLayout.astro";
---

<LandingLayout title="">
  <LandingSplash />
  <!-- <div class="h-[50vh] w-screen bg-black"></div> -->
</LandingLayout>
