---
import BaseLayout from "@/layouts/BaseLayout.astro";
import LandingSplash from "@/components/landing/LandingSplash.astro";
import '@/styles/globals.css'
---

<BaseLayout title="">
  <LandingSplash />
  <!-- <div class="h-[50vh] w-screen bg-black"></div> -->
</BaseLayout>
