---
import AnswerSubmission from "../components/AnswerSubmission";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="">
    <div class="bg-green-100 h-[50vh] w-screen"></div>
</BaseLayout>
