<div>
  <a
    href="mailto:mitmysteryheist@gmail.com"
    class="group flex h-10 w-screen items-center justify-center blur-[0.5px] border-t-2"
  >
    <div>
      <span class="font-bold">feedback?</span>
      <span class="group-hover:underline"> mitmysteryheist@gmail.com</span>
    </div>
  </a>
</div>
