---

---

<nav class="flex sticky top-0">
    <a href="/">MIT Mystery Hunt Pre-Hunt</a>
    <div class="flex-1"></div>
    <div class="flex gap-10">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/puzzles">Puzzles</a>
    </div>
</nav>
