---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <Header title={title} />
  <body class="flex min-h-screen flex-col">
    <main class="flex-1">
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
